---
import { getCollection } from "astro:content";
import { allCategories, categoryMeta, GardenCategory } from "@/lib/categories";
import Layout from "@/layouts/Layout.astro";
import BreadcrumbNav from "@/components/BreadcrumbNav.astro";

export async function getStaticPaths() {
  const allPaths = await Promise.all(
    allCategories.map(async (category) => {
      const entries = await getCollection(category as GardenCategory);
      return entries.map((entry) => ({
        params: {
          category,
          slug: entry.slug,
        },
        props: { entry, category, slug: entry.slug }, // <- ici
      }));
    })
  );

  return allPaths.flat();
}

const { entry, category, slug } = Astro.props;
const { Content, headings } = await entry.render();
---

<Layout title={"test"} toc={headings}>
  <article class="mx-auto">
    <section class="flex flex-row items-center gap-4">
      <h2 class="text-4xl font-extrabold">{entry.data.title}</h2>
    </section>
    <section class="mt-4 mb-8">
      <BreadcrumbNav
        items={[
          { label: "Home", href: "/" },
          { label: categoryMeta[category].label, href: `/${category}` },
          { label: entry.data.title, href: `/${category}/${slug}` },
        ]}
      />
    </section>
    <div class="hero-image mt-7">
      {
        entry.data.heroImageDark && entry.data.heroImageLight && (
          <img
        src={entry.data.heroImageLight}
        alt=""
        class="block dark:hidden w-full h-auto rounded-md my-7"
      />
      <img
        src={entry.data.heroImageDark}
        alt=""
        class="hidden dark:block w-full h-auto rounded-md my-7"
      />
        )
      }
    </div>
    <div class="prose dark:prose-invert max-w-none w-full">
      <Content />
    </div>
  </article>
</Layout>
