---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import { allCategories, categoryMeta, GardenCategory } from "@/lib/categories";
import BreadcrumbNav from "@/components/BreadcrumbNav.astro";

export async function getStaticPaths() {
  return allCategories.map((category) => ({
    params: { category },
  }));
}

const category = Astro.params.category as GardenCategory;

if (!allCategories.includes(category)) {
  throw new Error("Catégorie inconnue");
}

const entries = await getCollection(category);

// const groupedByType = entries.reduce(
//   (acc: Record<string, typeof entries>, entry) => {
//     const type = entry.data.type;
//     if (!acc[type]) acc[type] = [];
//     acc[type].push(entry);
//     return acc;
//   },
//   {}
// );

const entriesSorted = entries.sort((a, b) => {
  const dateA = new Date(a.data.pubDate);
  const dateB = new Date(b.data.pubDate);
  return dateB.getTime() - dateA.getTime();
});

const Icon = categoryMeta[category].icon;
---

<Layout title={categoryMeta[category].label}>
  {
    (
      <main>
        <section class="flex flex-row items-center gap-4">
          <Icon
            className="w-14 h-14"
            style={{ stroke: `var(--${categoryMeta[category].color})` }}
          />
          <h2 class="text-4xl">{categoryMeta[category].label}</h2>
        </section>

        <section class="mt-4 mb-8">
          <BreadcrumbNav
            items={[
              { label: "Home", href: "/" },
              { label: categoryMeta[category].label, href: `/${category}` },
            ]}
          />
        </section>

        <section class="grid grid-cols-1">
          <div class="grid grid-cols-3 text-sm text-left border-b pb-1">
            <span>/DATE</span>
            <span>/TITRE</span>
            <span>/TYPE</span>
          </div>
          {entriesSorted.map((entry) => (
            <div class="grid grid-cols-3 py-2 border-b">
              <span>{new Date(entry.data.pubDate).toLocaleDateString()}</span>
              <a
                href={`/${category}/${entry.slug}`}
                class="hover:underline"
                style={{ color: `var(--${categoryMeta[category].color})` }}
              >
                {entry.data.title}
              </a>
              <span>{entry.data.type}</span>
            </div>
          ))}
        </section>
      </main>
    )
  }
</Layout>
