---
import BreadcrumbNav from "@/components/BreadcrumbNav.astro";
import EntryList from "@/components/EntryList.astro";
import Layout from "@/layouts/Layout.astro";
import { allCategories, categoryMeta, GardenCategory } from "@/lib/categories";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  return allCategories.map((category) => ({
    params: { category },
  }));
}

const category = Astro.params.category as GardenCategory;

if (!allCategories.includes(category)) {
  throw new Error("Catégorie inconnue");
}

const entries = await getCollection(category);
const publishedEntries = entries.filter((entry) => !entry.data.draft);

// const groupedByType = entries.reduce(
//   (acc: Record<string, typeof entries>, entry) => {
//     const type = entry.data.type;
//     if (!acc[type]) acc[type] = [];
//     acc[type].push(entry);
//     return acc;
//   },
//   {}
// );

const entriesSorted = publishedEntries.sort((a, b) => {
  const dateA = new Date(a.data.pubDate);
  const dateB = new Date(b.data.pubDate);
  return dateB.getTime() - dateA.getTime();
});

const Icon = categoryMeta[category].icon;
---

<Layout title={categoryMeta[category].label}>
  {
    (
      <main>
        <section class="flex flex-row items-center gap-2">
          <Icon
            className="w-10 h-10"
            style={{ stroke: `var(--${categoryMeta[category].color})` }}
          />
          <h2 class="text-4xl font-semibold">{categoryMeta[category].label}</h2>
        </section>

        <section class="mt-4 mb-8">
          <BreadcrumbNav
            items={[
              { label: "Home", href: import.meta.env.BASE_URL },
              {
                label: categoryMeta[category].label,
                href: `${import.meta.env.BASE_URL}${category}`,
              },
            ]}
          />
        </section>

        <EntryList category={category} entries={publishedEntries} />
      </main>
    )
  }
</Layout>
