---
import Breadcrumbs from "@/components/Breadcrumbs.astro";
import EntryList from "@/components/EntryList.astro";
import Layout from "@/layouts/Layout.astro";
import { allCategories, categoryMeta, GardenCategory } from "@/lib/categories";
import { buildUrl, isMainNote } from "@/lib/utils";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  return allCategories.map((category) => ({
    params: { category },
  }));
}

const category = Astro.params.category as GardenCategory;

if (!allCategories.includes(category)) {
  throw new Error("Catégorie inconnue");
}

const entries = await getCollection(category);

const publishedEntries = entries
  .filter((entry) => !entry.data.draft)
  .filter((entry) => isMainNote(entry.slug));

const Icon = categoryMeta[category].icon;
---

<Layout title={categoryMeta[category].label}>
  <section class="flex flex-row items-center gap-2">
    <Icon
      className="w-10 h-10"
      style={{ stroke: `var(--${categoryMeta[category].color})` }}
    />
    <h2 class="text-4xl">{categoryMeta[category].label}</h2>
  </section>

  <section class="mt-4 mb-8">
    <Breadcrumbs
      items={[
        { label: "Home", href: buildUrl() },
        {
          label: categoryMeta[category].label,
          href: buildUrl(category),
        },
      ]}
    />
  </section>

  <EntryList category={category} entries={publishedEntries} />
</Layout>
