---
import { Square } from "lucide-react";
import { categoryMeta, GardenCategory } from "@/lib/categories";
import EntryTypeBadge from "./EntryTypeBadge.astro";

interface Props {
  category: GardenCategory;
  entries: Awaited<ReturnType<typeof import("astro:content").getCollection>>;
}

const { category, entries } = Astro.props;

const entriesSorted = entries.sort((a, b) => {
  const dateA = new Date(a.data.pubDate);
  const dateB = new Date(b.data.pubDate);
  return dateB.getTime() - dateA.getTime();
});
---

<section class="grid grid-cols-1">
  <div
    class="hidden sm:grid grid-cols-[1fr_4fr_1fr] text-sm text-left border-b pb-1"
  >
    <span>/DATE</span>
    <span>/TITRE</span>
    <span>/TYPE</span>
  </div>

  {
    entriesSorted.map((entry) => {
      const date = new Date(entry.data.pubDate);
      const formattedDate = `${date.getFullYear()}.${String(date.getMonth() + 1).padStart(2, "0")}.${String(date.getDate()).padStart(2, "0")}`;
      return (
        <div class="grid grid-cols-1 sm:grid-cols-[1fr_4fr_1fr] py-2 border-b gap-1 sm:gap-0">
          <div class="flex flex-row items-center">
            <Square className="w-2 h-2 mr-1" fill="var(--foreground)" />
            <span class="text-sm">{formattedDate}</span>
          </div>
          <a
            href={`/${category}/${entry.slug}`}
            class="hover:underline text-lg"
            style={{ color: `var(--${categoryMeta[category].color})` }}
          >
            {entry.data.title}
          </a>
          <EntryTypeBadge type={entry.data.type} />
        </div>
      );
    })
  }
</section>
