---
import AppShell from "@/components/AppShell.astro";
import { allCategories, GardenCategory } from "@/lib/categories";
import { getCollection } from "astro:content";
import "@/styles/global.css";
import { isMainNote } from "@/lib/utils";
const { title } = Astro.props as { title: string };

const allEntriesArrays = await Promise.all(
  allCategories.map((category) => getCollection(category))
);

const publishedEntries = allEntriesArrays
  .flat()
  .filter((entry) => !entry.data.draft);
const categories = Object.values(GardenCategory).map((category) => ({
  category,
  count: publishedEntries.filter(
    (entry) => entry.data.category === category && isMainNote(entry.slug)
  ).length,
}));

categories.sort((a, b) => b.count - a.count);
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href={`${import.meta.env.BASE_URL}android-chrome-192x192.png`}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href={`${import.meta.env.BASE_URL}android-chrome-512x512.png`}
    />

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href={`${import.meta.env.BASE_URL}favicon-32x32.png`}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href={`${import.meta.env.BASE_URL}favicon-16x16.png`}
    />
    <link rel="shortcut icon" href={`${import.meta.env.BASE_URL}favicon.ico`} />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href={`${import.meta.env.BASE_URL}apple-touch-icon.png`}
    />
    <link
      rel="manifest"
      href={`${import.meta.env.BASE_URL}manifest.webmanifest`}
    />

    <title>{title}</title>
  </head>
  <body>
    <main class="flex min-h-screen">
      <AppShell entries={publishedEntries} categories={categories}>
        <slot />
      </AppShell>
    </main>
  </body>
</html>
